
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'DotGothic16', sans-serif;
}
/* general rules */
body{
    background-color: black;
    color: white;
    letter-spacing: 3px;
}
/* /general rules */
/* hero section */
.hero img{
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 200px;
}
/* /hero section */
/* main section */
main{
    display: grid;
    width: 80%;
    margin: auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
#ordered-style{
    text-align: end;
}
#human-style{
    text-align: center;
    padding: 30px;
    grid-column: span 2;
}
/* /main section */
